@import 'tailwindcss';

@theme {
	--color-background-primary: var(--background-primary);
	--color-background-secondary: var(--background-secondary);

	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
}

:root {
	--background-primary: #F5F5F5;
	--background-secondary: #E0E0E0;

	--text-primary: #1C1C1C;
	--text-secondary: #666666;
}

.dark {
	--background-primary: #1C1C1C;
	--background-secondary: #2E2E2E;

	--text-primary: #F5F5F5;
	--text-secondary: #A0A0A0;
}

button {
	@apply cursor-pointer
}
