@import 'tailwindcss';
@source '../node_modules/layerchart/dist';

@theme {
	--color-background-primary: var(--background-primary);
	--color-background-secondary: var(--background-secondary);

	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);

	--color-red: var(--text-red);

  --color-surface-content: var(--text-primary);
 	--color-primary: var(--text-blue);

  --color-surface-100: 'transparent';
  --color-surface-200: var(--text-red);
  --color-surface-300: var(--background-secondary);
}

:root {
	--background-primary: oklch(98.4% 0.003 247.858);
	--background-secondary: oklch(92.9% 0.013 255.508);

	--text-primary: #1C1C1C;
	--text-secondary: #666666;

	--text-red: oklch(57.7% 0.245 27.325);
	--text-blue: oklch(42.4% 0.199 265.638)
}

.dark {
	--background-primary: #1C1C1C;
	--background-secondary: #2E2E2E;

	--text-primary: #F5F5F5;
	--text-secondary: #A0A0A0;

	--text-red: oklch(70.4% 0.191 22.216);
	--text-blue: oklch(74.6% 0.16 232.661)
}

button {
	@apply cursor-pointer
}
