@import 'tailwindcss';

@theme {
	--color-background-primary: var(--background-primary);
	--color-background-secondary: var(--background-secondary);

	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);

	--color-red: var(--text-red);
}

:root {
	--background-primary: oklch(98.4% 0.003 247.858);
	--background-secondary: oklch(92.9% 0.013 255.508);

	--text-primary: #1C1C1C;
	--text-secondary: #666666;

	--text-red: oklch(57.7% 0.245 27.325)
}

.dark {
	--background-primary: #1C1C1C;
	--background-secondary: #2E2E2E;

	--text-primary: #F5F5F5;
	--text-secondary: #A0A0A0;

	--text-red: oklch(70.4% 0.191 22.216);
}

button {
	@apply cursor-pointer
}
